
Options -Indexes
AddDefaultCharset UTF-8
DirectoryIndex index.php

RewriteEngine On
RewriteRule ^([a-zA-Z?0-9\-]+)$ /index.php?page=$1 [L,QSA]

ErrorDocument 404 /error
ErrorDocument 505 /error
ErrorDocument 301 /error
